* {margin: 0;
    padding: 0;}


.exo1 {background-color: burlywood;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;}

form {background-color: cadetblue;
    text-align: center;}





