* {margin: 0;
    padding: 0;}

body {text-align: center;
    margin-top: 60px;
    overflow: hidden;
    line-height: 1.6;}

button {width: 250px;
        height: 50px;
        background-color: rgb(207, 22, 115);
        color: white;
        font-size: 25px;
        border : none;}

button:hover {background-color: white;
            color: rgb(207, 22, 115);
            border: 1px solid rgb(207, 22, 115);}        

h1 {font-size: 50px;
    text-align: center;}

h3 {font-size: 18px;}

.anime {position: relative;
        z-index: -1; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -600px;}

.anime > p:nth-child(1) {position: absolute;
            animation-delay: 1.5s;
            animation-name: anime;
            animation: anime  2s linear infinite alternate;
            font-size: 80px;
            left: 1280px;}

            .anime > p:nth-child(2) {position: absolute;
                animation-delay: 2s;
                animation-name: anime;
                animation: anime  2.2s linear infinite alternate;
                font-size: 150px;
                left: 200px;}

            .anime > p:nth-child(3) {position: absolute;
                    animation-delay: 2s;
                    animation-name: anime;
                    animation: anime  2.5s linear infinite alternate;
                    font-size: 60px;
                    left: 300px;}       

            .anime > p:nth-child(4) {position: absolute;
                        animation-delay: 2s;
                        animation-name: anime;
                        animation: anime  2.8s linear infinite alternate;
                        font-size: 250px;
                        left: 400px;}

            .anime > p:nth-child(5) {position: absolute;
                            animation-delay: 2s;
                            animation-name: anime;
                            animation: anime  2s linear infinite alternate;
                            font-size: 70px;
                            left: 500px;}

            .anime > p:nth-child(6) {position: absolute;
                                animation-delay: 2s;
                                animation-name: anime;
                                animation: anime  3s linear infinite alternate;
                                font-size: 150px;
                                left: 700px;}

            .anime > p:nth-child(7) {position: absolute;
                                    animation-delay: 2s;
                                    animation-name: anime;
                                    animation: anime  2.6s linear infinite alternate;
                                    font-size: 200px;
                                    left: 800px;}
    
            .anime > p:nth-child(8) {position: absolute;
                                    animation-delay: 2s;
                                    animation-name: anime;
                                    animation: anime  2.4s linear infinite alternate;
                                    font-size: 90px;
                                    left: 900px;}

            .anime > p:nth-child(9) {position: absolute;
                                    animation-delay: 2s;
                                    animation-name: anime;
                                    animation: anime  2.3s linear infinite alternate;
                                    font-size: 100px;
                                    left: 600px;}
                                            
            .anime > p:nth-child(10) {position: absolute;
                                    animation-delay: 2s;
                                    animation-name: anime;
                                    animation: anime  2.1s linear infinite alternate;
                                    font-size: 160px;
                                    left: 1050px;}
        

@keyframes anime {
    0% {transform : translateY(0px) rotate(0deg);
        opacity: 1;}
    100% {transform: translateY(-1200px) rotate(360deg);
         opacity : 0;}
}